<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/tabs" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">My Orders</h1>

  <div class="order-items">
    <ion-card mode="ios" *ngFor="let product of products">
      <ion-card-content>
        <div class="item-img">
          <img src='../../assets/cart/cart1.png' />
        </div>

        <div class="item-info">
          <p>{{ product.name }}</p>
<!--          <p>Lotto.LTD</p>-->
          <p>Rp {{ product.price | number: '.0' }}</p>

          <ion-button expand="block" class="main-button">Order Again</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
