ion-menu-button {
    margin-left: 10px;
}

.filter {
    margin-right: 10px;
}

.search {
    margin-bottom: 20px;

    ion-item {
        border-radius: 10px;
        box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
        padding: 8px;

        ion-icon {
            margin-right: 16px;
        }

        ion-input {
            padding-left: 10px !important;
            border-left: 1px solid #F4F4F4;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    h2 {
        margin: 0 0 0 16px;
        color: #434343;
    }

    p {
        margin: 0 16px 0 0;
        color: #656565;
    }
}

.font-bold {
    font-weight: bold;
}

.product-card {
    width: 150px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

    p {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    h6 {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}
